{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="containerMade">
    <div class="aboutUsPage containerMade">
        <div class="aboutProjectContainer">
            <h1>About us</h1>
            <p>
                Oh feel if up to till like. He an thing rapid these after going drawn or. Timed she his law the spoil
                round defer. In surprise concerns informed betrayed he learning is ye. Ignorant formerly so ye blessing.
            </p>
        </div>
        <div class="aboutAuthorContainer">
            <div class="aboutAuthor">
                <img src="{{ asset('images/imgProfil.png') }}" alt="">
                <div>
                    <h3>Nom de l'auteur</h3>
                    <p>
                        Une courte description de l'utilité de la personne sur le projet, sur quoi il a aidier et quels
                        sont ses réalisations
                    </p>
                </div>
            </div>
            <div class="aboutAuthor">
                <img src="{{ asset('images/imgProfil.png') }}" alt="">
                <div>
                    <h3>Nom de l'auteur</h3>
                    <p>
                        Une courte description de l'utilité de la personne sur le projet, sur quoi il a aidier et quels
                        sont ses réalisations
                    </p>
                </div>
            </div>
            <div class="aboutAuthor">
                <img src="{{ asset('images/imgProfil.png') }}" alt="">
                <div>
                    <h3>Nom de l'auteur</h3>
                    <p>
                        Une courte description de l'utilité de la personne sur le projet, sur quoi il a aidier et quels
                        sont ses réalisations
                    </p>
                </div>
            </div>

        </div>
    </div></div>
{% endblock %}
