{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="landingPage">
    <img src="{{ asset('image/logo.webp') }}" alt="Image abstraite">
          <h1>Embracing the absurd</h1>


</div>

{% endblock %}
