{% extends 'base.html.twig' %}

{% block title %}Hello NemController!{% endblock %}
{% form_theme formImage 'bootstrap_5_layout.html.twig' %}

{% block body %}
<div class="containerMade">
    <div>
        {{ form_start(formImage) }}
        {{ form_row(formImage.imageFile) }}

        {{ form_end(formImage) }}

    </div>
</div>
{% endblock %}
