{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block body %}
<div class="podcastContainer">

    {% for audio in audios %}
        <div class="audioAudio ">
            <a class="btn btn1 audioOption " href="{{ path('delete_audio',{'id':audio.id}) }}">  <i class="btn bi bi-sliders"></i></a>
            <h2>{{ audio.titre }}</h2>
            <span>{{ audio.description }}</span>

            {% include 'audio.html.twig' with  {
                'route_name':'',
                'audioClass':'audio',
                'audio':audio,
                'param':null,
                'aClass':''} %}
        </div>
    {% endfor %}




</div>
{% endblock %}
