{% extends 'base.html.twig' %}

{% block title %}Hello NemController!{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<div class="containerMade">
    <div>
        {{ form_start(form) }}
        {{ form_row(form.name) }}

        <button class="btn btn-success">okay ! LEtsgo</button>
        {{ form_end(form) }}

    </div>
</div>
{% endblock %}
