{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <div class="containerMade">

    <h1>{{ category.name }}</h1>
    {% for article in category.articles %}

        <div class="art" >

            <a href="{{ path('show_article',{"id":article.id}) }}">
                <h3>{{ article.title }}</h3>
                {{ article.chapo }}
            </a>

        </div>
    {% endfor %}

    </div>
{% endblock %}
