{% extends 'base.html.twig' %}



{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}

    {#    CHANGER JUSTE L AUDIO #}
    {{ form_start(form) }}

    {{ form_row(form.audioFile) }}
    <button class="btn "><a href="{{ path('app_audio') }}">Retour</a></button>
    <button type="submit" class="btn ">Ajouter le son</button>
    {{ form_end(form , {'render_rest': false}) }}


{% endblock %}