{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block body %}

<div class="containerMade">
    <div class="row">
        {% for video in videos %}
            <div class="col-4">
                {% include 'video.html.twig' with  {
                    'route_name':'',
                    'videoClass':'imageAdded ',
                    'video':video,
                    'param':'',
                    'aClass':''} %}
            </div>


        {% endfor %}

    </div>

</div>



{% endblock %}
