.podcastContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.audioAudio {

     
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 47%;
    position: relative;
    background: var(--beige);
    padding: 2vh 2vw;
    border-radius: 10px;

}
.audioAudio h2{
    color: var(--darkBeige) !important;
}
.audioOption {
    position: absolute;
    right: 4%;
    top: 4%;
    padding: 0;
}
.audioAudio span {

    color: grey;
}

audio {
    width: 100% !important;
}

