#article_category_categories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 24vh;
}

.addImageContainer {
    margin-bottom: 7vh;

}

.addCategoryToImageContainer {
    display: flex;
    flex-direction: row;
}
    .selectCategoryForImage {
        width: 70%;
    }

    .addNewCategory {
        width: 30%;
        background: var(--grey);
        padding: 2vh;
        border-radius: 30px;
    }

    .nextButton {
        background: #999cff !important;
        font-size: 1.2em;
        color: black !important;
    }