.fileFormContainerCreateArticle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.createArticleSimpleInformations{
    width: 45%;
}
.createArticleSections{
    width: 55%;
}