
.navbar {
    height: 8vh;
    margin-inline: 2vw;
    padding-inline: 1vw;
    box-shadow: 0px 1px var(--dash), 0px 4px var(--beige);
}

.navbar-brand {
    font-weight: 800;
    color: var(--darkBeige)
}

.separator {
    height: 80%;
    width: 1px;
    background: #171717;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    background: #fff;
    z-index: 1;
    align-items: center;
}

.navbarLienProfil span {
    display: none;
}
.rightNavbarOptions{
    position: absolute;
    right: 0%;
}
@media only screen and (max-width: 992px) {
    #separatorNavbar {
        display: none;
    }

    .navbarLienProfil span {
        display: block;
    }

    .navbarLienProfil .imgPdp {
        display: none;
    }

    .navbar {
        margin-inline: 0;
        width: 100vw;
    }
    .navbar-collapse {


        padding-block: 3vh;
    }
    .rightNavbarOptions{
        position: relative;

    }
}