
<a
      {% if route_name!= '' %}
        href="{{ path(route_name,param) }}"
        {% endif %}
        class="{{ aClass }}">
    <div class="{{ audioClass }}">
        <audio controls src="{{ vich_uploader_asset(audio)}}"></audio>
    </div>
</a>


{#


TO CALL IT USE :

   {% if bloop.audio is not empty %}
        {% for audio in bloop.audio %}
            {% include 'audio.html.twig' with  {
                'route_name':'',
                'audioClass':'imageAdded',
                'audio':audio,
                'param':null,
                'aClass':''} %}
        {% endfor %}
    {% endif %}



}#}
