
<a
      {% if route_name!= '' %}
        href="{{ path(route_name,param) }}"
        {% endif %}
        class="{{ aClass }}">
    <div class="{{ videoClass }}">
        <video controls class="">
            <source src="{{ vich_uploader_asset(video)}}">
        </video>

    </div>
</a>


