.mainContainer {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*=========================NAVBAR=========================*/
.main-navbar {
    width: 22vw;
    height: 100%;
    padding: 7vh 0vw;
    position: fixed;

}

.main-navbar .logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.main-navbar .imgNavbar {
    width: 26%;
    height: auto;
    margin-right: 8%;

}

.main-navbar .bloopsTitle {
    color: var(--simplet);
    font-size: 50px;
    font-weight: 700;
}


.contentContainer {
    padding-left: 25vw;
    width: 100vw;
}

.main-navbar ul {
    padding: 0;
    margin: 0;
}

.main-navbar .active {
    background: var(--dormeur) !important;
    color: var(--roncheux) !important;
}

.nav-link {
    width: 488px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0px 15px 15px 0px; /* Order: top-left, top-right, bottom-right, bottom-left */
    background-color: #F9F9F9; /* Hex color for the element's background */
    box-shadow: 4px 4px 5px 0 #0000000D, /* Drop shadow */ inset 4px 4px 5px 0 #FFFFFF; /* Inner shadow */
    white-space: nowrap;
    padding: 18px 25px;
    color: var(--darkText); /* This sets the text color to near-black */
    font-weight: 700; /* Corresponds to a bold weight in most font families */
    font-size: 25px; /* The size of your text */
    line-height: normal;
    margin-top: 35px;
    animation: come-left 0.5s ease-in forwards;
}

@keyframes come-left {
    0% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0px);
    }
}

.nav-link:hover {
    scale: 105%;
}

.nav-home {
    width: 489px !important;
}

.nav-flow {
    width: 438px !important;
}

.nav-podcast {
    width: 335px !important;
}

.nav-account {
    width: 286px !important;
}

.nav-new {
    width: 186px !important;
}

.nav-burger  , .nav-burger-friends{
    display: none;
    width: 82px;
    height: 70px;
    position: fixed;
    bottom: 3%;
    font-size: 39px;
    left: 0%;
    color: var(--simplet);
    z-index: 3;
}
.nav-burger-friends{
    bottom: 15%;
}
@media only screen and (max-width: 850px) {
    .contentContainer {
        display: flex;
        padding-left: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
.friendListContainer , .nav-burger-friends{
    display: none;
}
    .nav-burger {
        display: flex;
    }

    .main-navbar {
        width: 100vw;
        height: 100vh;
        z-index: 1;
display: none;
        padding: 4vh 0vw;
    }

    .main-navbar .imgNavbar {
        width: 15%;
    }

    .nav-home {
        width: 80vw !important;
    }

    .nav-flow {
        width: 70vw !important;
    }

    .nav-podcast {
        width: 60vw !important;
    }

    .nav-account {
        width: 50vw !important;
    }

    .nav-new {
        width: 40vw !important;
    }

}
@media only screen and (max-width: 540px) {
    .nav-home ,  .nav-flow  ,  .nav-podcast  , .nav-account ,   .nav-new  ,  .nav-link {
        width: 80% !important;
    }
    .nav-burger  , .nav-burger-friends{
        width: 82px !important;
        height: 70px !important;
        border-radius: 15px;
        bottom: 2%;

    }
    .nav-burger{
        left: 2%;
    }
    .nav-burger-friends{left: 26%};

}
@media only screen and (max-width: 360px) {
    .nav-home ,  .nav-flow  ,  .nav-podcast  , .nav-account ,   .nav-new  ,  .nav-link {
        width: 100% !important;
        border-radius: 0;
    }
    .nav-link   {
        justify-content: center;
    }  .nav-burger  , .nav-burger-friends{
           width: 82px !important;
           height: 70px !important;


       }

}
/*=========================NAVBAR RESPONSIV =========================*/
:root {
    --menu-circle-background-color: #4557bb;
    --menu-hamburger-background-color: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --menu-circle-background-color: #45526b;
        --menu-hamburger-background-color: #ebecef;
    }
}

.navbarMobil, .menu_activated {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 9998;
}

.navbarMobil .menu_activated {
    color: #ebecef;
    block-size: 100%;
}

.navbarMobil .menu__nav {
    box-sizing: border-box;
    inline-size: 100%;
    display: flex;
    align-items: flex-end;
    z-index: 2;
}

.navbarMobil .menu__toggle {
    box-sizing: border-box;
    position: relative;
    isolation: isolate;
}

.navbarMobil .uia-hamburger, .uia-hamburger::before, .uia-hamburger::after, .uia-hamburger__label {
    position: absolute;
}

/* Apply transitions and animations as necessary */

:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 5px;
}

/*========================DROPDOWN=======================*/

.dropdown:hover, .dropdown:active {
    outline: 0;
    border: 0
}


/*=============BLOOP LIKE=============*/
.bloopBallonLiked .bloopBallonLikedSvg {
    display: block;
}

.bloopBallonLiked .bloopBallonSvg {
    display: none;
}

.bloopBallon .bloopBallonLikedSvg {
    display: none;
}

.bloopBallon .bloopBallonSvg {
    display: block;
}

/*========================CHOICE FOR NEW BLOOP==================*/
.choiceFileContainer {
    width: 100%;
    height: 100%;
    padding: 10vh 5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
}

.choiceCard {
    width: 350px;
    height: 202px;
    padding: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 2vh;
    font-weight: 700;
    text-decoration: none;
    color: var(--simplet);
    font-size: 20px;
    /* background-color: var(--light-grey); */
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .05), inset 4px 4px 5px white;
    border-radius: 10px;
}
@media only screen and (max-width: 600px) {
.choiceFileContainer{
    flex-wrap: wrap;
}
    .choiceCard {
        width: 100%;}
}