{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="containerMade">
        {% for user in users %}
            <div class="art">

                <h4>{{ user.username }}</h4>
                <span>{{ user.email }}</span>
                <p>{{ user.roles[0] }}</p>
                <button class="btn btn2"><a href="{{ path('delete_user',{"id":user.id}) }}">SUPPRIMER</a></button>


            </div>

        {% endfor %}

    </div>
{% endblock %}

